@import "tailwindcss";

@theme {
  --color-primary: #ef55af;
  --color-secondary: #161616;
  --color-light-text: white;
  --color-neutral-bg: white;

  /* Custom breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  width: 100%;
}