@import "tailwindcss";

@theme {
  --color-primary: #2764F3;
  --color-secondary: rgba(195, 196, 199, 1);
  --color-light-text: white;
  --color-neutral-bg: #E5E5E5;

  /* Custom breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  width: 100%;
}